{% extends "base.html" %}

{% block title %}О нас{% endblock %} <!-- Импортируем каркас из base.html -->

{% block content %}
<div class="jumbotron bg-light p-4 rounded shadow bg-body">
    <h1 class="display-7 text-center">Философствуем на разные темы</h1>
    <h1 class="display-7">Смотрим на жизнь не через призму повседневности</h1>
    <h1 class="display-7">Видим в простых вещах новую суть</h1>
    <h1 class="display-7">Ведем экономный образ жизни</h1>
    <span class="p-6">Сайт создан: Романом А.</span>
    <a href="https://t.me/Pen_koloda1" target="_blank" rel="noopener" class="text-muted ms-2">
        <i class="bi bi-telegram"></i>
    </a>
</div {% endblock %}